/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-image: linear-gradient(to right, rgb(253, 253, 255), rgb(253, 243, 243));
  }

 .nav .navbar-nav a:link{
    text-decoration: none;
}

h1 ,h2{
border-left: 5px #666 solid;
border-bottom:1px #666 solid ;
padding: 0 0 5px;
margin-bottom: 30px;
margin-top: 2%;
}
.pull-right{
    float: right;
}
.col-md-4 {
    margin-top:2vmin;

}
.col-md-4 .card-body img{
    height:30vmin;
 
}
.col-md-3 {
    margin-top:2vmin;

}
.col-md-3 .card-body img{
    height:25vmin;
   
}

@media (min-width: 280px) and (max-width:653px){
    .col-md-4 {
        margin-top:2vmin;
    
    }
    .col-md-4 .card-body img{
        height:60vmin;
    
    }
    .col-md-3 {
        margin-top:2vmin;
    
    }
    .col-md-3 .card-body img{
        height:50vmin;
    }
    .card{
        width: 80vmin;
        margin-top:9vmin;
    }

}


  i{
    color: gray;
    font-size:3vmin;
    float: right;
}
.d-block{
    height: 40rem;
  }
  .greeting-wrapper h2 {
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: text 6s steps(22) infinite alternate;
            animation: text 6s steps(22) infinite alternate;
    margin: auto;
    border-right: 2px solid black;
    font-size: 45px;
  }
  
  @-webkit-keyframes text {
    0% {
      width: 0ch;
    }
    50% {
      width: 22ch;
    }
  }
  
  @keyframes text {
    0% {
      width: 0ch;
    }
    50% {
      width: 22ch;
    }
  }




  


